# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs and editors
.vscode/
.idea/
*.pydevproject
*.project
*.cproject
*.sln
*.suo
*.opensdf
*.sdf
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Miscellaneous
*.log
*.bak
*.swp
*.tmp
*.out
.DS_Store